.form-label {
    margin-bottom: 0.5rem;
    display: inline-block;
    font-weight: bold;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0.375rem;
    border: 1px solid #dee2e6;
}
.form-text {
    margin-top: 0.25rem;
    font-size: .875em;
    color: rgba(33, 37, 41, 0.75);
}

.form-help {
    cursor: pointer;
}