// Global spacing
$spacer: 1rem;

// margin bottom
.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: ($spacer * .25);
}
.mb-2 {
    margin-bottom: ($spacer * .5);
}
.mb-4 {
    margin-bottom: $spacer;
}
.mb-4 {
    margin-bottom: ($spacer * 1.5);
}
.mb-5 {
    margin-bottom: ($spacer * 3);
}

// margin top
.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: ($spacer * .25);
}
.mt-2 {
    margin-top: ($spacer * .5);
}
.mt-4 {
    margin-top: $spacer;
}
.mt-4 {
    margin-top: ($spacer * 1.5);
}
.mt-5 {
    margin-top: ($spacer * 3);
}

// margin X axis
.my-0 {
    margin: 0 0;
}
.my-1 {
    margin: ($spacer * .25) 0;
}
.my-2 {
    margin: ($spacer * .5) 0;
}
.my-3 {
    margin: $spacer 0;
}
.my-4 {
    margin: ($spacer * 1.5) 0;
}
.my-5 {
    margin: ($spacer * 3) 0;
}

// font align
.text-center {
    text-align: center;
}
.text-start {
    text-align: start;
}
.text-end {
    text-align: end;
}