{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div {{ react_component('Hello', { 'fullName': 'john' }) }}>
            Loading...
        </div>
    </div>

{% endblock %}