{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div {{ react_component('TreasureConnect', {
            'fullName': 'john'
        }) }} class="treasure-wrapper">
            Loading...
        </div>
    </div>

{% endblock %}