{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        {# Stymulus make automaticaly json_encode() that will transform that array into JSON #}
        <div {{ react_component('TreasureConnect', {
            'user': userData,
            'tokens': app.user ? app.user.getValidTokenArray : null
        }) }} class="treasure-wrapper">
            Loading...
        </div>
    </div>

{% endblock %}